*{box-sizing: border-box;}
body{padding: 0; margin: 0;}
#contain{padding: 30px;margin-top:0; background-color: whitesmoke;}
.sem{width: 100px; height: 100px;  position:absolute; margin-top: -50px;left: 85px; font-weight:bold;}
.box img{width: 30px; height: 30px; border-radius:50%; border: 1px solid black; position: absolute;  left: 50px; margin-top: -30px; }
.a1{ margin-top: -30px; margin-left: 900px; position: absolute; }
.a2{ margin-top: -30px; margin-left: 1000px; position: absolute; }
 .a3{ margin-top: -30px; margin-left: 1100px; position:absolute; } 
 .a4{ margin-top: -30px; margin-left: 1200px; position: absolute; }  
 
.select img {width: 100%; height: 100%; }
 .sup{position: absolute;top: 550px; left:20px; color: aliceblue; }
 .main{position: absolute;top: 600px; left:20px; color: aliceblue;font-size: large; }
  .your{position: absolute;top:650px; left:20px; color:aliceblue;}
  .align button{background-color: aliceblue;position: absolute; margin-top:-200px; left: 20px;}
 

  hr{color:#7B2869; border: dotted; margin: 40px; border-bottom: none;}
  .cent{   position: absolute; margin-top: 70px;left: 400px;  }
 
 
  .content img{width: 250px; height:200px; position: absolute; margin-top: 120px; margin-left: 250px; }
  .content1 img{width: 250px; height: 200px; position: absolute; margin-top: 120px; margin-left: 600px;}
  .its{ position: absolute; margin-top: 300px; margin-left:250px;}
  .or{position: absolute; margin-top: 350px;margin-left:250px;width: 60%;}

  .esp{position: absolute; margin-top: 350px; margin-left: 630px;}
  .rock{position: absolute; margin-top: 300px;margin-left: 650px;}
  
  .third img{height: 300px; width: 500px;position: absolute; margin-top: 35%; margin-left: 300px}
  .self{margin-top: 48%; margin-left: 650px; position: absolute;  width: 250px; height: 180px; padding: 15px; color: wheat;background: 
    radial-gradient(circle, rgba(86,117,22,0.7091211484593838) 0%, rgba(2,0,36,0.927608543417367) 0%, rgba(2,0,36,0.927608543417367) 48%,
     rgba(2,0,36,0.927608543417367) 57%, rgba(0,7,36,0.8799894957983193) 69%); }
     .button{position:absolute; margin-top: -5%;}
.auto{margin: auto auto auto;}
     .fourth img{height:350px; width:500px;position: absolute; margin-top:69%; margin-left:500px;}
     .clean{height:200px;width:300px; position:absolute; margin-top: 82%; margin-left:280px; border: none; padding:30px; color: wheat; background: rgb(0, 0, 0);}
     button{position:absolute; margin-top:-1%; width: 120px; height: 30px; }

     .fifth{position:absolute; margin-top: 100%; margin-left: 500px;}
     .fifth1 button{position: absolute; margin-left: 140px;background:blueviolet;border: none; color: white;}
     span{position: absolute; margin-left: 40%; margin-top: 110%; font-style: italic;}
     .shift{position:absolute; margin-left:120px; margin-top:-20px;}
     .totally{position:absolute; margin-left: 95px; margin-top:50px;}

     #sixth{display: flex;  flex-wrap:wrap ; margin-top: 130%; flex-basis: 20%;color:white; background: #7B2869;font-style: oblique;}
#sixth div.flex-work{flex-basis:60%; flex-shrink: 0; flex-grow:0; padding-left: 30px;}
.cont {padding: 50px;flex-basis: 40%; padding-left: 70px;}

#seventh{display:flex; flex-wrap:wrap; padding: 20px; background: rgb(86,117,22);
background: radial-gradient(circle, rgba(86,117,22,0.7091211484593838) 0%, rgba(17,10,131,0.927608543417367) 0%, rgba(2,0,36,0.927608543417367) 
48%, rgba(2,0,36,0.927608543417367) 57%, rgba(0,7,36,0.8799894957983193) 69%);color: white;}

#seventh div{ flex-basis: 20%;height: 100px;}




.container{display: flex; flex-wrap: wrap;}
.container div{ flex-basis: 20%; padding: 20px; background-color: blanchedalmond;}
.ife{margin-left:-20px;}
.am{margin-left:-20px;}
